%h1 Stations
%content
  %ul
    -@stations.each do |station|
      %li{id:"station_#{station.id}"}
        =station.name
        =station.dock_count
        =station.city
        =station.installation_date.strftime('%d %B %Y')
        -if current_admin?
          =button_to 'Edit', edit_admin_station_path(station)
          =button_to 'Delete', admin_station_path(station), method:'delete'        
