%h1= @station.name

%h3 Dock Count
%span#station-dock-count= @station.dock_count

%h3 City
%span#station-city= @station.city

%h3 Installation Date
%span#station-installation-date= @station.installation_date
