/* Cart */

#cart-container {
  border: 3px solid rgb(48, 99, 142);
  padding: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  transition: .3s ease-in-out;
}

#cart-container:hover {
  border-color: rgb(237, 174, 73);
  transition: .3s ease-in-out;
  cursor: pointer;
}

i.fa-shopping-cart {
  color: #FEFEFE;
  z-index: 1;
  position: absolute;
  left: 9px;
  top: 13px;
}

#cart-count {
  position: absolute;
  color: black;
  z-index: 3;
  top: 16px;
  left: 26px;  
}

#cart-contents-container {
  display: flex;
  flex-direction: column;
}


.cart-item {
  background-color: rgb(55,55,55);
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  margin-bottom: 12px;
}

.cart-thumbnail {
  width: 140px;
  height: 140px;
}

.cart-item-information-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #FEFEFE;
}

#cart-contents-container form {
  background-color: magenta;
  padding: 0;
  margin: 0;
}

.quantity-container {
  display: flex;
}

.cart-item-information-container {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.cart-item-information-container .title {
  font-size: 24px;
}

.cart-item-information-container .price {
  font-size: 16px;
}

.cart-item-information-container .subtotal {
  font-size: 16px;
  margin-bottom: 14px;
}

.cart-item-information-container .description {
  font-size: 14px;
}
