%h1 Accessories

%ul
  -@items.each do |item|
    %li{id: "item-#{item.id}"}
      %span= item.title
      %span= item.price
      %span= item.description
      =link_to 'Add to Cart', carts_path(item_id: item.id)
