%h1 Accessories

%ul
  -@accessories.each do |accessory|
    %li{id: "accessory-#{accessory.id}"}
      %span= link_to accessory.title, accessory_path(accessory)
      %span= accessory.price
      %span= accessory.description
      =link_to 'Add to Cart', carts_path(accessory_id: accessory.id), method: :post
